body {
    background-color: rgb(207, 207, 2);
    padding-left: 70px;
}
.red {
    stroke: black;
    stroke-width: 5;
    position: relative;
    padding-right: 50px;
}
.green {
    stroke: black;
    stroke-width: 5
}
.blue {
    stroke: black;
    stroke-width: 5
}
.purple {
    stroke: black;
    stroke-width: 5
}
